* {
    font-family: verdana;
}

h1 {
    color: red;
    font-size: 20px;
    padding: 1% 2%;
    font-family: monospace;
}
    
h2 {
    color: blue;
    font-size: 16px;
    padding: 1% 2%
}

li {
    font-size: 12px;
    
}

xd {
    text-decoration: underline;
}  

p {
    font-size: 12px;
}

#neg {
    text-align: center;
    color: green;
    
}

#num {
    font-size: 12px;
    text-align: right
}

td {
    border: black 2px solid;
    border-collapse: collapse;
    text-align: left;
    font-size: 15;
}

th {
    text-align: left;
    font-size: 15;
}